/* display none beacuse just show in mobile nav */
.nav-container nav .desktop-nav {
  display: none;
}
/* end display none beacuse just show in mobile nav */

/* navbar and content */

div.nav-container {
  width: 100vw;
  height: 53px !important;
  background-color: hsl(240deg 1.45% 27.06%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  transition: 500ms;
  overflow-x: hidden;
}

.nav-container nav .mobile-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 900;
  list-style: none;
  padding-left: 10px;
}

.nav-container nav .mobile-nav li {
  height: 100%;
}

.apple-mobile-logo {
  width: 30px;
  height: 20px;
}

.humnurger-menu-mobile {
  width: 30px;
  height: 20px;
}

.bag-menu-mobile {
  width: 30px;
  height: 20px;
}

.search-menu-mobile {
  width: 30px;
  height: 20px;
}

.left-side-a {
  height: 90%;
  display: flex;
  align-items: center;
}

.right-side-a {
  height: 90%;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.right-side-a a {
  padding-left: 8px;
}

.left-side-a a {
  padding-left: 8px;
}

/* menu humburger open background */

.humburger-menu-bg {
  height: 0;
}

.humburger-menu-bg.show {
  display: flex;
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100vw;
  height: calc(100vh - 20px) !important;
  z-index: 600;
  position: fixed !important;
  top: 0;
  left: 0;
  transition: 1200ms;
}

.humburger-container.show {
  display: block;
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100vw;
  height: calc(100vh - 20px);
  z-index: 700;
  position: fixed !important;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 400ms;
}

.humburger-container {
  display: flex;
  height: 0;
}

.humburger-container ul li a,
p {
  color: #fff;
  text-decoration: none;
  font-size: 35px;
  font-weight: 100;
  padding-right: 10px;
  cursor: pointer;
}

.close-btn-menu-mobile {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  padding-right: 15px;
}

.links-open-menu-mobile {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.links-open-menu-mobile i {
  width: 100%;
}

.links-open-menu-mobile a {
  width: 100%;
  font-weight: bolder;
  font-size: 28px !important;
  line-height: 50px !important;
  font-weight: 800 !important;
  padding-right: 100% !important;
}

/* arrow for links */

.store-humburger-menu {
  display: flex;
}

.store-humburger-menu-right-arrow {
  width: 20px;
  position: absolute;
  top: 70px;
  right: 25px;
  opacity: 0.6;
}

.mac-humburger-menu-right-arrow {
  width: 20px;
  position: absolute;
  top: 120px;
  right: 25px;
  opacity: 0.6;
}

.iPad-humburger-menu-right-arrow {
  width: 20px;
  position: absolute;
  top: 175px;
  right: 25px;
  opacity: 0.6;
}

.iPhone-humburger-menu {
  display: flex;
}

.iPhone-humburger-menu-right-arrow {
  width: 20px;
  position: absolute;
  top: 225px;
  right: 25px;
  opacity: 0.6;
}

.watch-humburger-menu {
  display: flex;
}

.watch-humburger-menu-right-arrow {
  width: 20px;
  position: absolute;
  top: 275px;
  right: 25px;
  opacity: 0.6;
}

.vision-humburger-menu {
  display: flex;
}

.vision-humburger-menu-right-arrow {
  width: 20px;
  position: absolute;
  top: 325px;
  right: 25px;
  opacity: 0.6;
}

.AirPods-humburger-menu {
  display: flex;
}

.AirPods-humburger-menu-right-arrow {
  width: 20px;
  position: absolute;
  top: 375px;
  right: 25px;
  opacity: 0.6;
}

.tvhome-humburger-menu {
  display: flex;
}

.tvhome-humburger-menu-right-arrow {
  width: 20px;
  position: absolute;
  top: 425px;
  right: 25px;
  opacity: 0.6;
}

.desktop-nav {
  display: none;
}

.information .material {
  padding-top: 25px;
  font-size: 35px;
  color: #d4d4d4;
  font-weight: bold;
}

/* start API css */
.content {
  padding-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container-1 {
  overflow: hidden;
  position: relative;
}

.row-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container-1 img {
  width: 100%;
  height: 780px;
  object-fit: cover;
  position: relative;
}

.content .content-container-1 .information {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information .new {
  font-size: 12px;
  color: rgb(255, 98, 0);
  padding-bottom: 10px;
}

.information .phone-model {
  font-size: 15px;
  color: rgb(219, 219, 219);
  font-weight: bold;
  padding-bottom: 3px;
}

.information .material {
  padding-top: 20px;
  font-size: 25px;
  color: #d4d4d4;
  font-weight: bold;
  padding-bottom: 5px;
}

.information .price {
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 20px;
  color: #747474;
  padding-bottom: 8px;
}

.information .buy {
  display: flex;
  justify-content: center;
  width: 65px;
  align-items: center;
  height: 30px;
  background-color: #006eff;
  text-align: center;
  border-radius: 60px;
  font-size: 20px;
}

.information .learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.learn-more a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.learn-more a:hover {
  text-decoration: underline;
}

.learn-more img {
  width: 20px;
  height: 15px;
}

/* end API css for size minus 959 */

/* container4 */

.content-container-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 5px;
}
.content4-left {
  width: 100%;
}

.content4-left-information-1 {
  width: 100vw;
  position: absolute;
  top: 2450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
}

.content4-left-information-1 .material-3 {
  padding-top: 20px;
  font-size: 37px;
  color: #000000;
  font-weight: bold;
}

.content4-left-information-1 .price-3 {
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 5px;
  color: #343434;
}

.content4-right {
  width: 100%;
}

.content4-right .content4-right-information-1 {
  width: 100%;
  position: absolute;
  top: 3010px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 5px;
}

.content4-right img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.content4-right-information-1 .material-3 {
  padding-top: 20px;
  font-size: 37px;
  color: #ffffff;
  font-weight: bold;
}

.content4-right-information-1 .price-3 {
  padding-top: 25px;
  font-size: 20px;
  padding-bottom: 20px;
  color: #787878;
}

.links-buy-learnmore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content4-right-information-1 .content4-right-learn-more-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content4-right-learn-more-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content4-right-learn-more-3 a:hover {
  text-decoration: underline;
}

.content4-right-learn-more-3 img {
  width: 20px;
  height: 15px;
}

.content4-right-buy-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content4-right-buy-3 a:hover {
  text-decoration: underline;
}

.content4-right-buy-3 img {
  width: 20px;
  height: 15px;
}

/* container 5 */

.content-container-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 3px 2px;
  gap: 5px;
}
.content5-left {
  width: 100%;
}

.content5-left-information-1 {
  width: 100%;
  position: absolute;
  top: 3580px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
  padding-top: 10px;
}

.content5-left-information-1 .material-3 {
  font-size: 37px;
  color: #000000;
  font-weight: bold;
  padding-top: 10px;
}

.content5-left-information-1 .price-3 {
  padding-top: 20px;
  font-size: 25px;
  padding-bottom: 10px;
  color: #212121;
}

.content5-right {
  width: 100%;
}

.content5-right-information-1 {
  padding-top: 10px;
  width: 100%;
  position: absolute;
  top: 4180px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10px;
}

.content5-right img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.content5-right-information-1 .material-3 {
  padding-top: 20px;
  font-size: 35px;
  color: #1b1b1b;
  font-weight: bold;
}

.content5-right-information-1 .price-3 {
  padding-top: 25px;
  font-size: 20px;
  padding-bottom: 20px;
  color: #151515;
}

.links-buy-learnmore {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content5-right-information-1 .content5-right-learn-more-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content5-right-learn-more-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content5-right-learn-more-3 a:hover {
  text-decoration: underline;
}

.content5-right-learn-more-3 img {
  width: 20px;
  height: 15px;
}

.content5-right-buy-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content5-right-buy-3 a:hover {
  text-decoration: underline;
}

.content5-right-buy-3 img {
  width: 20px;
  height: 15px;
}

/* footer */

/* container 3 */

.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.container-3 p {
  color: #424245;
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
  padding-top: 10px;
  opacity: 0.7;
  padding-bottom: 0px;
}

.container-3 hr {
  opacity: 0.5;
  padding: 0;
}

.container-3 p a {
  color: rgb(0, 110, 255);
}

/* container 4 */

footer .footer-container .container-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}

footer .footer-container .container-4 .column1 p {
  color: #424245;
  font-size: 10px;
  font-weight: lighter;
  text-decoration: none;
  opacity: 0.9;
  padding-bottom: 5px;
}

footer .footer-container .container-4 .column2 {
  display: flex;
}

footer .footer-container .container-4 .column2 hr {
  display: flex;
}

footer .footer-container .container-4 .column2 a {
  color: #424245;
  font-size: 9px;
  font-weight: lighter;
  text-decoration: none;
  padding-right: 6px;
}

footer .footer-container .container-4 .column2 a:hover {
  text-decoration: underline;
}

footer .footer-container .container-4 .column3 p {
  color: #424245;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  opacity: 0.7;
  font-weight: 500;
  padding-top: 8px;
}

/* hide container 2 mobile */

footer .footer-container .container-2-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.accordion {
  width: 100%;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx .label {
  color: #424245;
  font-size: 14px;
  font-weight: lighter;
  cursor: pointer;
}

.accordion .contentBx .label::before {
  content: "+";
  position: absolute;
  top: 0;
  right: 20px;
  transform: translateY(-50%);
}

.accordion .contentBx.active .label::before {
  content: "-";
}

.accordion .contentBx .content {
  height: 0;
  transition: 500ms;
  display: none;
  transition: 500ms;
  padding-top: 5px;
}

.accordion .contentBx .content p {
  margin: 0;
  color: #424245;
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
  opacity: 0.7;
  padding-top: 10px;
}

.accordion .contentBx .content p:hover {
  text-decoration: underline;
}

/* class active for event open accordion */

.accordion .contentBx.active .content {
  height: auto;
  display: block;
}
