/* display none beacuse just show in mobile nav */

nav .mobile-nav {
  display: none;
}

.humburger-menu-bg {
  display: none;
}
.humburger-container {
  display: none;
}

.bag-mobile-container {
  display: none;
}

/* end display none beacuse just show in mobile nav */

/* navbar and content */

div.nav-container {
  width: 100vw;
  height: 44px;
  background-color: hsl(240deg 1.45% 27.06%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  transition: 500ms;
}

.nav-container nav {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 160px;
}

.nav-container nav .desktop-nav {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
}

.nav-container nav .desktop-nav li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 300ms;
}

.nav-container nav .desktop-nav li a:hover {
  opacity: 1;
}

.link-logo {
  display: block;
  width: 15px;
}

.link-search {
  display: block;
  width: 15px;
}

.link-bag {
  display: block;
  width: 15px;
}

/* start search submneu */
/* search container */
.search-container.hide {
  display: none;
}

.search-container {
  width: 73vh;
  margin: 0 auto;
  position: absolute;
  z-index: 800;
  transition: 600ms;
  display: block;
}

.search-container .search-bar {
  display: flex;
  margin: 40px 0;
  justify-content: baseline;
  align-items: center;
}

.search-container .search-bar i {
  padding-right: 10px;
}

.search-container .search-bar form {
  width: 100%;
  margin: 0 auto;
}

.search-container .search-bar form input {
  border: 0;
  outline: none;
  width: 100%;
  font-size: 25px;
  background: transparent;
  color: #fff;
}

/* overlays */

.overlay-search-bg {
  height: 0;
}

.overlay-search-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 70% !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

.overlay-blur {
  height: 0;
}

.overlay-blur.show {
  width: 100%;
  height: 100vh;
  z-index: 600;
  backdrop-filter: blur(20px);
  position: fixed;
  top: 44px;
  left: 0;
  transition: 300ms;
}

/* quick links */
.quick-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quick-links p {
  font-size: 14px;
  font-weight: 300;
  color: rgb(123 123 125);
  padding: 10px 0;
}

.quick-links ul {
  list-style: none;
  padding-left: 0;
}

.quick-links li:hover {
  background-color: rgba(86, 86, 86, 0.165);
}

.quick-links li a {
  text-decoration: none;
  color: rgb(237, 237, 237);
  padding: 10px 0;
  font-size: 13px;
  line-height: 25px;
}

.quick-links li a i {
  font-size: 15px;
  padding: 0 10px 0 0;
  opacity: 30%;
}

.quick-links li a i:hover {
  opacity: 100%;
  font-size: 16px;
}

/* navmenu bg hover */
.navlinks-hover {
  background-color: hsl(240deg 4.35% 9.02%) !important;
}

/* end submenu search */

/* start bag submenu  */
.bag-container {
  display: flex;
  flex-direction: column;
  width: 74%;
  height: 60vh;
  margin: 0 auto;
  z-index: 800;
  transition: 700ms;
}

.bag-container .p1 {
  color: #ffffff;
  font-size: 25px;
  margin-top: 50px;
}

.bag-container .p2 a {
  color: #0095ff;
  font-size: 13px;
  margin-top: 30px;
  padding-right: 5px;
}
.bag-container .p2 {
  color: #fff;
  font-size: 13px;
  margin-top: 30px;
}

.myProfile {
  width: inherit;
  height: inherit;
  display: flex;
  margin-top: 45px;
}

.myProfile p {
  color: #fff;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
}

.myProfile li {
  padding-bottom: 15px;
}

.myProfile ul {
  padding-left: 0;
}

.myProfile ul li {
  list-style: none;
}

.myProfile a .box-bag {
  width: 15px;
}
.myProfile a {
  color: #fff;
  text-decoration: none;
}

.myProfile a .save-bag {
  width: 18px;
  position: relative;
  top: 3px;
  right: 3px;
}

.myProfile a .account-bag {
  width: 17px;
}

.myProfile a .signin-bag {
  width: 18px;
}

.bag-container.hide {
  display: none;
}

.overlay-bag-bg {
  height: 0;
}

.overlay-bag-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 80vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

/* end sebmenu bag */

/* start support sub menu */
.support-container {
  display: flex;
  flex-direction: column;
  position: fixed !important;
  width: 45%;
  height: 55vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.support-container > .explore-support {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.support-container > .explore-support > .support-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.support-container > .explore-support > .support-1 > .support-1-p1 {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.support-container > .explore-support > .support-1 ul {
  width: inherit;
  height: inherit;
  padding-left: 0;
  list-style: none;
}

.support-container > .explore-support > .support-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 40px;
}

.support-1 > .support-1-p2 {
  color: #fff;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
}

.support-container > .explore-support > .support-2 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.support-container > .explore-support > .support-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.support-container > .explore-support > .support-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.support-container > .explore-support > .support-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.support-container > .explore-support > .support-3 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.support-container > .explore-support > .support-3 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.support-container > .explore-support > .support-3 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.support-container > .explore-support > .support-3 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.overlay-support-bg {
  height: 0;
}

.overlay-support-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 90% !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

.support-container.hide {
  display: none;
}

/* end sub menu support */

/* start Accessories submenu */
.accessories-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.accessories-container > .shop-accessories {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.accessories-container > .shop-accessories > .accessories-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.accessories-container > .shop-accessories > .accessories-1 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.accessories-container > .shop-accessories > .accessories-1 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.accessories-container > .shop-accessories > .accessories-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 40px;
}

.accessories-container > .shop-accessories > .accessories-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.accessories-container > .shop-accessories > .accessories-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.accessories-container > .shop-accessories > .accessories-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.accessories-container > .shop-accessories > .accessories-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.accessories-container.hide {
  display: none;
}

.overlay-accessories-bg {
  height: 0;
}

.overlay-accessories-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 80% !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

/* end accessories submenu */

/* start Tv & Home submenu */
.Tv-Home-container {
  display: flex;
  width: 44%;
  height: 60vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.Tv-Home-container .explore-Tv-Home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Tv-Home-container .explore-Tv-Home .support-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.Tv-Home-container .explore-Tv-Home .support-1 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.Tv-Home-container .explore-Tv-Home .support-1 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.Tv-Home-container .explore-Tv-Home .support-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 40px;
}

.Tv-Home-container .explore-Tv-Home .support-2 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.Tv-Home-container .explore-Tv-Home .support-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.Tv-Home-container .explore-Tv-Home .support-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.Tv-Home-container .explore-Tv-Home .support-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.Tv-Home-container .explore-Tv-Home .support-3 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.Tv-Home-container .explore-Tv-Home .support-3 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.Tv-Home-container .explore-Tv-Home .support-3 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.Tv-Home-container .explore-Tv-Home .support-3 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.overlay-Tv-Home-bg {
  height: 0;
}

.overlay-Tv-Home-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 80vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

.Tv-Home-container.hide {
  display: none;
}

/* end Tv & Home submenu */

/* start entertaiment sub menu */
.entertaiment-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 60vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.entertaiment-container > .explore-entertaiment {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.entertaiment-container > .explore-entertaiment .entertaiment-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.entertaiment-container > .explore-entertaiment .entertaiment-1 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.entertaiment-container > .explore-entertaiment .entertaiment-1 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.entertaiment-container
  > .explore-entertaiment
  .entertaiment-1
  li
  a
  .entertaiment-menu {
  color: #fff;
  font-size: 25px;
  line-height: 40px;
  text-decoration: none;
}

.entertaiment-container > .explore-entertaiment .entertaiment-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.entertaiment-container > .explore-entertaiment .entertaiment-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.entertaiment-container > .explore-entertaiment .entertaiment-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.entertaiment-container.hide {
  display: none;
}

.overlay-entertaiment-bg {
  height: 0;
}

.overlay-entertaiment-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 95vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 200ms;
}
/* end entertaiment sub menu */

/* start submenu airpods */
.airpod-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 60vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.airpod-container > .explore-airpod {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.airpod-container > .explore-airpod > .airpod-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.airpod-container > .explore-airpod > .airpod-1 > .airpod-1-p1 {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.airpod-container > .explore-airpod > .airpod-1 ul {
  width: inherit;
  height: 220px;
  list-style: none;
  padding-left: 0;
}

.airpod-container > .explore-airpod > .airpod-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 40px;
}

.airpod-1 > .airpod-1-p2 {
  color: #fff;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
}

.airpod-container > .explore-airpod > .airpod-2 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.airpod-container > .explore-airpod > .airpod-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.airpod-container > .explore-airpod > .airpod-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.airpod-container > .explore-airpod > .airpod-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.airpod-container > .explore-airpod > .airpod-3 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.airpod-container > .explore-airpod > .airpod-3 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.airpod-container > .explore-airpod > .airpod-3 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.airpod-container > .explore-airpod > .airpod-3 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.overlay-airpod-bg {
  height: 0;
}

.overlay-airpod-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 80vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

.airpod-container.hide {
  display: none;
}

/* end airpod submenu */

/* start vision submenu */
.vision-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 60vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.vision-container > .shop-vision {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.vision-container > .shop-vision > .vision-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.vision-container > .shop-vision > .vision-1 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.vision-container > .shop-vision > .vision-1 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.vision-container > .shop-vision > .vision-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 40px;
}

.vision-container > .shop-vision > .vision-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.vision-container > .shop-vision > .vision-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.vision-container > .shop-vision > .vision-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.vision-container > .shop-vision > .vision-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.vision-container.hide {
  display: none;
}

.overlay-vision-bg {
  height: 0;
}

.overlay-vision-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 80vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

/* end submenu vision */

/* start submenu Watch */
.watch-container {
  display: flex;
  width: 60%;
  height: 80vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.watch-container .explore-watch {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  align-items: flex-start;
}

.watch-container .explore-watch .watch-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.watch-container .explore-watch .watch-1 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.watch-container .explore-watch .watch-1 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.watch-container .explore-watch .watch-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
}

.watch-container .explore-watch .watch-2 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.watch-container .explore-watch .watch-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.watch-container .explore-watch .watch-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.watch-container .explore-watch .watch-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.watch-container .explore-watch .watch-3 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.watch-container .explore-watch .watch-3 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.watch-container .explore-watch .watch-3 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.watch-container .explore-watch .watch-3 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.overlay-watch-bg {
  height: 0;
}

.overlay-watch-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 75vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

.watch-container.hide {
  display: none;
}

/* end watch submenu */

/* start iPhone submenu */
.iPhone-container {
  display: flex;
  width: 54%;
  height: 33vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.iPhone-container .explore-iPhone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.iPhone-container .explore-iPhone .iPhone-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.iPhone-container .explore-iPhone .iPhone-1 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.iPhone-container .explore-iPhone .iPhone-1 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.iPhone-container .explore-iPhone .iPhone-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
}

.iPhone-container .explore-iPhone .iPhone-2 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.iPhone-container .explore-iPhone .iPhone-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.iPhone-container .explore-iPhone .iPhone-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.iPhone-container .explore-iPhone .iPhone-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.iPhone-container .explore-iPhone .iPhone-3 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.iPhone-container .explore-iPhone .iPhone-3 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.iPhone-container .explore-iPhone .iPhone-3 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.iPhone-container .explore-iPhone .iPhone-3 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.overlay-iPhone-bg {
  height: 0;
}

.overlay-iPhone-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 75vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

.iPhone-container.hide {
  display: none;
}
/* ----------------------------------------------------------------------------------- */

.image1-contain {
  width: 100%;
  height: 400px;
}

.image1-contain img {
  width: inherit;
  height: 500px;
  object-fit: cover;
}

/* end iPhone submenu */

/* start submenu iPad */
.iPad-container {
  display: flex;
  width: 44%;
  height: 49vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.iPad-container .explore-iPad {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.iPad-container .explore-iPad .iPad-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.iPad-container .explore-iPad .iPad-1 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.iPad-container .explore-iPad .iPad-1 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.iPad-container .explore-iPad .iPad-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
}

.iPad-container .explore-iPad .iPad-2 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.iPad-container .explore-iPad .iPad-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.iPad-container .explore-iPad .iPad-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.iPad-container .explore-iPad .iPad-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.iPad-container .explore-iPad .iPad-3 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.iPad-container .explore-iPad .iPad-3 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.iPad-container .explore-iPad .iPad-3 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.iPad-container .explore-iPad .iPad-3 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.overlay-iPad-bg {
  height: 0;
}

.overlay-iPad-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 85vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

.iPad-container.hide {
  display: none;
}

/* start submenu Mac */
.Mac-container {
  display: flex;
  width: 44%;
  height: 60vh;
  margin: 0 0 0 180px;
  z-index: 800;
  transition: 700ms;
}

.Mac-container .explore-Mac {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Mac-container .explore-Mac .Mac-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.Mac-container .explore-Mac .Mac-1 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.Mac-container .explore-Mac .Mac-1 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.Mac-container .explore-Mac .Mac-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
}

.Mac-container .explore-Mac .Mac-2 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.Mac-container .explore-Mac .Mac-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.Mac-container .explore-Mac .Mac-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.Mac-container .explore-Mac .Mac-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.Mac-container .explore-Mac .Mac-3 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.Mac-container .explore-Mac .Mac-3 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.Mac-container .explore-Mac .Mac-3 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.Mac-container .explore-Mac .Mac-3 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.overlay-Mac-bg {
  height: 0;
}

.overlay-Mac-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 100vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

.Mac-container.hide {
  display: none;
}

/* end sub menu mac */

/* start submenu Store */
.Store-container {
  display: flex;
  width: 44%;
  height: 40vh;
  margin: 0 0 0 195px;
  z-index: 800;
  transition: 700ms;
}

.Store-container .explore-Store {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Store-container .explore-Store .Store-1 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.Store-container .explore-Store .Store-1 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.Store-container .explore-Store .Store-1 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.Store-container .explore-Store .Store-1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  line-height: 40px;
}

.Store-container .explore-Store .Store-2 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.Store-container .explore-Store .Store-2 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.Store-container .explore-Store .Store-2 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.Store-container .explore-Store .Store-2 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.Store-container .explore-Store .Store-3 {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.Store-container .explore-Store .Store-3 p {
  color: #fff;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  padding-bottom: 15px;
}

.Store-container .explore-Store .Store-3 ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

.Store-container .explore-Store .Store-3 li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.9;
}

.overlay-Store-bg {
  height: 0;
}

.overlay-Store-bg.show {
  background-color: hsl(240deg 4.35% 9.02%);
  width: 100%;
  height: 75vh !important;
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  transition: 300ms;
}

.Store-container.hide {
  display: none;
}
/* ----------------------------------------------------------------------------------- */

/* start API css */
.content {
  padding-top: 40px;
  width: 100vw;
  display: flex;
  z-index: 200;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container-1 {
  overflow: hidden;
  position: relative;
}

.row-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container-1 img {
  width: 100%;
  height: 780px;
  object-fit: cover;
  position: relative;
}

.content .content-container-1 .information {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 12px;
}

.information .new {
  font-size: 12px;
  color: rgb(255, 98, 0);
  padding-bottom: 10px;
}

.information .phone-model {
  font-size: 25px;
  color: rgb(219, 219, 219);
  font-weight: bold;
  padding-bottom: 5px;
}

.information .material {
  padding-top: 25px;
  font-size: 55px;
  color: #d4d4d4;
  font-weight: bold;
  padding-bottom: 5px;
}

.information .price {
  padding-top: 25px;
  font-size: 23px;
  padding-bottom: 20px;
  color: #747474;
  padding-bottom: 8px;
}

.information .buy {
  display: flex;
  justify-content: center;
  width: 65px;
  align-items: center;
  height: 30px;
  background-color: #006eff;
  text-align: center;
  border-radius: 60px;
  font-size: 20px;
  padding-bottom: 5px;
}

.information .learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
}

.learn-more a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.learn-more a:hover {
  text-decoration: underline;
}

.learn-more img {
  width: 20px;
  height: 15px;
}

/* end API css */

/* row 4 content image 4 and 5 */

.content-container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 3px 10px;
  gap: 5px;
}

.content4-left {
  width: 50%;
}

.content4-left img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.content4-left-information-1 {
  width: 100%;
  position: absolute;
  top: 2410px;
  left: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 5px;
}

.content4-left-information-1 .material-3 {
  padding-top: 20px;
  font-size: 37px;
  color: #ffffff;
  font-weight: bold;
}

.content4-left-information-1 .price-3 {
  padding-top: 25px;
  font-size: 23px;
  padding-bottom: 20px;
  color: #d0d0d0;
}

.links-buy-learnmore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content4-left-information-1 .content4-left-learn-more-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content4-left-learn-more-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content4-left-learn-more-3 a:hover {
  text-decoration: underline;
}

.content4-left-learn-more-3 img {
  width: 20px;
  height: 15px;
}

.content4-left-buy-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content4-left-buy-3 a:hover {
  text-decoration: underline;
}

.content4-left-buy-3 img {
  width: 20px;
  height: 15px;
}

.content4-right {
  width: 50%;
}

.content4-right img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.content4-right .content4-right-information-1 {
  width: 100%;
  position: absolute;
  top: 2410px;
  right: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 5px;
}

.content4-right-information-1 .material-3 {
  padding-top: 20px;
  font-size: 40px;
  color: #1b1b1b;
  font-weight: bold;
}

.content4-right-information-1 .price-3 {
  padding-top: 25px;
  font-size: 23px;
  padding-bottom: 20px;
  color: #151515;
}

.links-buy-learnmore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content4-right-information-1 .content4-right-learn-more-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content4-right-learn-more-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content4-right-learn-more-3 a:hover {
  text-decoration: underline;
}

.content4-right-learn-more-3 img {
  width: 20px;
  height: 15px;
}

.content4-right-buy-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content4-right-buy-3 a:hover {
  text-decoration: underline;
}

.content4-right-buy-3 img {
  width: 20px;
  height: 15px;
}

/*  container5 row 5 content image 4 and 5 */
.content-container-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 3px 10px;
  gap: 5px;
}

.content5-left {
  width: 50%;
}

.content5-left img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.content5-left-information-1 {
  width: 50%;
  position: absolute;
  top: 3000px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 5px;
}

.content5-left-information-1 .material-3 {
  padding-top: 20px;
  font-size: 37px;
  color: #000000;
  font-weight: bold;
}

.content5-left-information-1 .price-3 {
  padding-top: 25px;
  font-size: 23px;
  padding-bottom: 20px;
  color: #242424;
}

.links-buy-learnmore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content5-left-information-1 .content5-left-learn-more-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content5-left-learn-more-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content5-left-learn-more-3 a:hover {
  text-decoration: underline;
}

.content5-left-learn-more-3 img {
  width: 20px;
  height: 15px;
}

.content5-left-buy-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content5-left-buy-3 a:hover {
  text-decoration: underline;
}

.content5-left-buy-3 img {
  width: 20px;
  height: 15px;
}

.content5-right {
  width: 50%;
}

.content5-right img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.content5-right-information-1 {
  width: 100%;
  position: absolute;
  top: 3000px;
  left: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 5px;
}

.content5-right-information-1 .material-3 {
  padding-top: 20px;
  font-size: 40px;
  color: #1b1b1b;
  font-weight: bold;
}

.content5-right-information-1 .price-3 {
  padding-top: 25px;
  font-size: 23px;
  padding-bottom: 20px;
  color: #151515;
}

.links-buy-learnmore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content5-right-information-1 .content5-right-learn-more-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content5-right-learn-more-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content5-right-learn-more-3 a:hover {
  text-decoration: underline;
}

.content5-right-learn-more-3 img {
  width: 20px;
  height: 15px;
}

.content5-right-buy-3 a {
  font-size: 20px;
  text-decoration: none;
  color: #006eff;
  padding-right: 5px;
  font-weight: bold;
}

.content5-right-buy-3 a:hover {
  text-decoration: underline;
}

.content5-right-buy-3 img {
  width: 20px;
  height: 15px;
}
